*{
  padding: 0;
  margin: 0;
}

header{
  
}

main{
font-family: Helvetica;
background-color: blueviolet;
}

section{
  image-rendering: auto;
  float: left; 
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 80vw;
  padding: 4rem;
  background-color: blue;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 5% 20%;
  width: 20%;
  background-color: brown;
}

article{
  margin: 10px 0;
}